/* .shapes-bg-small:before  , .shapes-bg-big:before  {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.6;
} */
.shapes-bg-small:before{
	background-attachment:scroll;
	background-size:cover;
	background-image:url(../images/bg/shapes-small.png);
}
.shapes-bg-big:before{
	background-image:url(img/aboutbg.png);
	background-size: 100% 100%;
	transform: rotateY(360);
}
.respimg {
	width:100%;
	height:auto;
}
/*------ section-------------------------------------------------*/
/* section {
	float:left;
	width:100%;
	position:relative;
	padding:40px 0;
	overflow:hidden;
	background:white;
	z-index:1;
} */
section.color-bg .section-title .breadcrumbs {
	margin-top:0;
	margin-bottom:10px;
}
section.color-bg .section-title .breadcrumbs a:before {
	background:#fff !important;
}
/*------ Image collage------------------------------------------------*/
.images-collage-item img {
	width:100%;
	height:100%;
}
.images-collage-item {
	border-radius:100%;
	overflow:hidden;
}
.images-collage-main{
	position: relative;
	z-index: 3;
	width: 140px;
	height: 140px;
	display: inline-block;
	margin-top: 28%;
	margin-left: 38%;
}
@media(max-width:1200px){
	.images-collage-main{
		margin-top: 33%;
		margin-left: 36%;
	}
}
@media(max-width:992px){
	.images-collage-main{
		margin-top: 60%;
		margin-left: 30%;
	}
	.images-collage:before {
		margin-top: -96px;
	}
}
@media(max-width:767px){
	.images-collage-main{
		width: 160px;
		height: 160px;
		margin-top: 20%;
		margin-left: 34%;
	}
}
.images-collage-other {
	width:90px;
	height:90px;
	position:absolute;
	z-index:1;
}
@media(max-width:767px){
	.images-collage-other {
		width: 75px;
		height: 75px;
	}
}
.images-collage-title {
	position:absolute;
	right:26%;
	width:180px;
	padding:12px 0;
	background:black;
	z-index:10;
	text-align: center;
	top:0px;
	border-radius:30px;
	font-weight:800;
	font-size:18px;
	color: #566985;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
}
@media(max-width:992px){
	.images-collage-title{
		left: 38%;
	}
}
@media(max-width:540px){
	.images-collage-title{
		left: 30%;
	}
}
.images-collage:before {
	content:'';
	position:absolute;
	width:250px;
	height:250px;
	top:50%;
	left:50%;
	margin-top:-125px;
	margin-left:-125px;
	border:2px  dotted black;
	z-index:-1;
	opacity:0.6;
	border-radius:100%;
}

@media(max-width:500px){
	.images-collage:before {
		top: 60%;
	}
}
.anim-col {
	animation:anim-col 4.15s infinite ;
	-o-animation:anim-col 4.15s infinite ;
	-ms-animation:anim-col 4.15s infinite ;
	-webkit-animation:anim-col 4.15s infinite;
	-moz-animation:anim-col 4.15s infinite ;
}
@-moz-keyframes anim-col{
    0% { margin-top:0;}
    50% {margin-top:-50px}
	100% {margin-top:0}

}
@-webkit-keyframes anim-col {
    0% { margin-top:100px;}
    50% {margin-top:-30px}
	100% {margin-top:-100px}

}
@keyframes anim-col {
    0% { margin-top:-20px;}
    50% {margin-top:-50px}
	100% {margin-top:-20px}

} 
/*------Join------------------------------------------------*/
.cirle-bg {
	position:absolute;
	right:10%;
	width:500px;
	height:500px;
	bottom:-70%;
	z-index:1;
	opacity:0.1;
}
.color-bg-text  {
	padding-top:70px;
	padding-left:30px;
	font-size: 18px;
}
.color-bg-text h3 {
	font-size:34px;
	text-align:left;
	padding-bottom:20px;
	color:black;
	font-weight:600;
}
@media(max-width:767px)
{
	.color-bg-text h3 {
		font-size: 25px;
		text-align: center;
	}
}
.color-bg{
	min-height:350px;
}
.color-bg-text p {
	text-align:left;
	color: black;
	font-size: 20px;
	font-weight: 500;
}
.color-bg-link {
	float:left;
	margin-top:40px;
	padding: 20px 55px;
    text-transform: uppercase;
    background: black;
    border-radius: 30px;
    font-size: 11px;
    font-weight: 700;
    position: relative;
    box-shadow: 0px 0px 0px 7px rgba(255,255,255,0.4);
}


